<p>dispemp works!</p>
<h1>Registered Employees</h1>
<div class="d-flex justify-content-center">
	<div class="spinner-border" role="status">
		<span class="sr-only" id="loading">
			Loading...
		</span>
	</div>
</div>

<table class="table table-success table-striped">
    
 
	<thead>
		<tr>
			<th scope="col">Name</th>
			<th scope="col">password</th>
            <th scope="col">mailid</th>
            <th scope="col">salary</th>
            <th scope="col">designation</th>
            <th scope="col">dateOfJoining</th>
			
		</tr>
	</thead>
	<tbody>
		<tr *ngFor="let e of data;">
			<td>{{ e.name }}</td>
			<td>{{ e.password }}</td>
            <td>{{ e.mailid }}</td>
            <td>{{ e.salary }}</td>
            <td>{{ e.designation }}</td>
            <td>{{ e.dateOfJoining }}</td>
            
			
		</tr>
	</tbody>
</table>
